<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <form action="/budgets/?_method=PUT" method="POST">
        date: <input type="text" name="date" placeholder="Date" /> name:
        <input type="text" name="name" placeholder="Name" /><br />
        from: <input type="text" name="from" placeholder="From" /> amount:
        <input type="text" name="amount" placeholder="Amount" /><br />
        tags: <input type="text" name="tags" placeholder="Tags" /><br />
        <input type="submit" value="Create New Item" />
      </form>
    </div>
  </body>
</html>
